{% extends "layouts/base.jinja" %}
{% block content %}
<form method="POST" action="{%url 'views:show' product.id%}">
    {% csrf_token%}
    {{form}}
    <button>Save</button>
</form>
{% endblock content %}